div.modal-header
    div.header-title
        span.title Alerta
div.modal-body
    div.row
        div.col-xs-12
            p.text Si cambias de producto, el proceso de cotización se perderá. Deseas continuar:
    div.row.sec2
        div.col-xs-12
            button.button.next(ng-click="accept()") Aceptar
            button.button.back(ng-click="closeModal()") Cancelar
