.user-management{



    .search-management{
        background: white;
        min-height: 110px;
        padding: 1px 7px;



        .section-title{
            color: $color-gray-text;
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0;
        }


        .section-add-user{
            overflow: hidden;



            .add-user{
                cursor: pointer;
                background: $color-orange-button;
                border-radius: 5px;
                color: white;
                display: inline-block;
                float: right;
                margin-right: 35px;
                margin-top: 7px;
                padding: 10px 5px;;
                position: relative;
                text-align: center;
                width: 162px;



                .text{
                    font-size: 14px;
                }



                .icon-plus{
                    color: $color-gray-text;
                    font-size: 20px;
                    font-weight: bold;
                    position: absolute;
                    right: 8px;
                    top: 7px;
                }
            }
        }



        .section-form{
            margin-bottom: 29px;
            margin-left: 49px;
            margin-top: 15px;



            .section-subtitle{
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 20px;
            }



            .form-field{
                display: inline-block;
                margin-right: 16px;



                .label-field{
                    display: block;
                    font-size: 13px;
                    margin-bottom: 10px;
                }



                .select-field{
                    padding: 8px;
                    width: 192px;



                    &.rol{
                        width: 250px;
                    }
                }



                .text-field{
                    display: inline-block;
                    margin-right: 4px;
                    position: relative;



                    input{
                        border: 1px solid $color-gray-border;
                        box-sizing: border-box;
                        padding: 9px 40px 8px 5px;
                        width: 329px;
                    }



                    .icon-search{
                        color: $color-gray-text;
                        position: absolute;
                        right: 13px;
                        top: 5px;
                    }
                }



                .search-button{
                    background: $color-gray-button;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 5px;
                    padding: 11px 24px;
                }



                .search-advanced-button{
                    cursor: pointer;
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 47px;



                    .icon-arrow-down{
                        margin-left: 7px;
                        transition: all 0.3s;
                        vertical-align: middle;



                        &.down{
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }



            .form-dates{
                margin-bottom: -10px;
                margin-top: 35px;
                padding: 0 25px;



                .date-start{
                    display: inline-block;;
                    margin-right: 60px;
                }



                .date-end{
                    display: inline-block;;
                }



                .text{
                    color: $color-gray-text;
                    display: inline-block;
                    font-size: 13px;
                    margin-right: 9px;
                }



                .date-field{
                    border-radius: 5px;
                    border: 1px solid $color-gray-border;
                    height: 34px;
                    text-align: center;
                    width: 100px;
                    width: 71px;
                }



                .icon-calendar2{
                    vertical-align: middle;
                }
            }
        }
    }



    .filter-search{
        margin-top: 19px;



        .filter-status{
            background: white;
            border-radius: 5px;
            border: 1px solid $color-gray-border;
            display: inline-block;
            margin-left: 60px;
            padding: 9px;
            width: 679px;



            .filter-field{
                display: inline-block;
                font-size: 13px;



                label{
                    margin-left: -6px;
                }



                &.all{
                    margin-left: 2px;
                }



                &.active{
                    margin-left: 93px;
                }



                &.inactive{
                    margin-left: 116px;
                }



                &.pending{
                    margin-left: 88px;
                }
            }
        }



        .pagination{
            float: right;
            margin-right: 23px;
            margin-top: 11px;



            .pagination-button{
                background: white;
                cursor: pointer;
                font-weight: bold;
                margin: 0 3px;
                padding: 7px 10px;
            }



            .before{
                margin-right: 16px;
            }



            .text{
                font-size: 14px;
                margin-right: 11px;
            }
        }
    }



    .card-users{
        margin-top: 14px;
    }
}
