div.add-user
    div.container-data-user
        h2.subtitle Añadir usuario
        div.content-user-form
            form.content-image-profile(action="index.html", method="post")
                img.image(src="", alt="")
                //- input(type="file", name="name", value="")
                div.upload-image SELECCIONAR IMAGEN
            div.content-form-field
                div.row-field
                    div.form-field
                        div.label-field Nombre
                        input.text-field(type="text")
                    div.form-field
                        div.label-field Apellido 1
                        input.text-field(type="text")
                    div.form-field
                        div.label-field Apellido 2
                        input.text-field(type="text")
                div.row-field.row-tel-email
                    div.form-field
                        div.label-field Usuario/Correo contractor
                        input.text-field(type="text")
                    div.form-field
                        div.label-field Teléfono
                        input.text-field(type="tel")
                div.applications-permissions
                    div.section-title Permisos del usuario
                    div.applications
                        div.text Aplicaciones disponibles
                        div.container-apps
                            div.app(ng-repeat="app in [1,2,3,4]")
                                span.icon-left
                                span.text CUPONES
                                span.icon-plus +
                    div.permissions
                        div.text Roles añadidos
                        div.container-permissions
                            div.permission(ng-repeat="permission in [1,2]")
                                span.icon.icon-user
                                span.text CUPONES
                                span.icon-plus +
