include ../mixins/button

div.loginContainer
    div.loginBox
        div.loginTitle Revisa tu correo
        div.instructions Te hemos enviado un mensaje desde el que puedes renovar tu contraseña

        div.botton-email
            +acceptButton('', 'Aceptar')
