include ../mixins/button

div.login-container
    div.login-box
        div.login-title Revisa tu correo
        div.instructions Te hemos enviado un mensaje desde el que puedes renovar tu contraseña

        div.botton-email
            +acceptButton('', 'Aceptar')
