include ../mixins/button

.loginContainer
    .loginBox
        .loginTitle Revisa tu correo
        .instructions.marginT20 Te hemos enviado un mensaje desde el que puedes renovar tu contraseña

        .marginT25
            +button('accept', 'Aceptar')
