include ../mixins/button

div.loginContainer
    div.loginBox
        div.loginTitle WIBE. Gestión de usuarios
        div.loginSubtitle Acceso al servicio

        label Usuario
        input.text

        label.password Contraseña
        input.text

        .botton-login
            +acceptButton('', 'Entrar')

        a.login(ui-sref='recovery-password') ¿Olvidaste tu contraseña?
