include ../mixins/button

.loginContainer
    .loginBox
        .loginTitle Nueva contraseña
            .instructions.marginT20 Define tu nueva contraseña. Debe tener 8 caracteres alfanuméricos (combinación de números y letras)

            label.marginT20 Nueva contraseña
            input.text

            label.marginT10 Repite contraseña
            input.text

        .marginT25
        +button('accept', 'Confirmar nueva contraseña')
