include ../mixins/button

div.login-container
    div.login-box
        div.login-title Nueva contraseña
            .instructions Define tu nueva contraseña. Debe tener 8 caracteres alfanuméricos (combinación de números y letras)

        label.password-top Nueva contraseña
        input.text

        label.password Repite contraseña
        input.text

        div.botton-email
            +acceptButton('', 'Confirmar nueva contraseña')
