include ../mixins/button

div.login-container
    div.login-box
        div.login-title Establecer nueva contraseña
            .instructions
                | * Un caracter especial.
                br
                | * Un número.
                br
                | * 8 caracteres mínimo

        label.password-bottom Nueva contraseña
        input.text

        label.password-top Repite contraseña
        input.text

        div.botton-email
            +acceptButton('', 'Confirmar nueva contraseña')
