include ../mixins/button

div.loginContainer
    div.loginBox
        div.loginTitle
            span.arrow(ui-sref='login')
            span Recupera tu contraseña

        div.instructions Ingresa el correo electrónico en el que recibiste el mensaje para activar tu usuario

        label.password Correo electrónico contractor
        input.text

        div.botton-password
            +acceptButton('', 'Recuperar')

        div.instructions
            | ¿No recuerdas tu correo electrónico?
            br
            | Ponte en contacto con tu administrador
