include ../mixins/button

div.login-container
    div.login-box
        div.login-title-recovery
            span.icon.icon-arrow(ui-sref='login')
            span Recupera tu contraseña

        div.instructions Ingresa el correo electrónico en el que recibiste el mensaje para activar tu usuario

        label.password-top Correo electrónico contractor
        input.text

        div.botton-password
            +acceptButton('', 'Recuperar')

        div.instructions
            | ¿No recuerdas tu correo electrónico?
            br
            | Ponte en contacto con tu administrador
