div.user-management(ng-controller="searchUsersCtrl")
    div.search-management
        h2.section-title Usuarios
        div.section-add-user
            div.add-user( ng-click="goAddUser()" )
                span.text ALTA DE USUARIO
                span.icon.icon-plus +
        div.section-form
            div.section-subtitle Búsqueda
            div.form-field
                label.label-field Aplicación
                select.select-field(name="")
                    option Todas
                    option Cupones
                    option Gestion de usuarios
            div.form-field
                label.label-field Rol
                select.select-field.rol(name="")
                    option Todos
                    option Usuario técnico
                    option Usuario comercial
                    option Administrador
            div.form-field
                div.text-field
                    input(type="text", placeholder="Introduce nombre o ID usuario")
                    span.icon.icon-search
                div.search-button BUSCAR
                div.search-advanced-button(ng-click="isAdvancedSearch = !isAdvancedSearch")
                    span.text Avanzada {{isAdvancedSearch}}
                    span.icon.icon-arrow-down( ng-class="{ 'down': isAdvancedSearch }" )
            div.form-dates(uib-collapse="!isAdvancedSearch")
                div.date-start
                    div.text Fecha inicio desde
                    input.date-field(type="tel" placeholder="DD")
                    input.date-field(type="tel" placeholder="MM")
                    input.date-field(type="tel" placeholder="AAAA")
                    span.icon.icon-calendar2
                div.date-end
                    div.text Hasta
                    input.date-field(type="tel" placeholder="DD")
                    input.date-field(type="tel" placeholder="MM")
                    input.date-field(type="tel" placeholder="AAAA")
                    span.icon.icon-calendar2

    div.filter-search
        div.filter-status
            div.filter-field.all
                input#todos(type="checkbox")
                label(for="todos") Todos
            div.filter-field.active
                input#activos(type="checkbox")
                label(for="activos") Activos
            div.filter-field.inactive
                input#inactivos(type="checkbox")
                label(for="inactivos") Inactivos
            div.filter-field.pending
                input#pendienteActivacion(type="checkbox")
                label(for="pendienteActivacion") Pendientes activación
        div.pagination
            span.text #[strong 1 - 12] de #[strong 95]
            span.pagination-button.before <
            span.pagination-button.next >

    div.card-users
        div.card-user(ng-repeat="card in [1,2,3,4,5,6,7,8,9,10,11,12]")
            div.image
            div.data
                div.name Francisco Xabier Mina Larrea
                div.email rran.mina@bbva.contractor.com
                div.permissions
                    span.icon.icon-user
                    span.user-permission Usuario comercial
                div.date-status
                    div.date
                        span.icon.icon-calendar
                        span.text 17/02/2015
                    div.status
                        span PEND.ACTIVACIÓN
                div.creation
                    span creado por davidgonzalez 22/07/2015 10:30 h
