div.menu
    div.logo
    div#header
        ul.nav
            li
                a(href='') USUARIOS
                ul.second-level
                    li
                        a(href='') AÑADIR USUARIO

            li
                 a(href='') CUPONES

            li
                 a(href='') OPCIÓN 3

            li
                 a(href='') OPCIÓN 4

            li
                 a(href='') OPCIÓN 5

            li
                 a(href='') OPCIÓN 6

            li
                 a(href='') OPCIÓN 7

    div.logout
        span.icon.icon-arrow-bottom(ng-click='visibilityExit = !visibilityExit')


    div.user-info Pedro Manuel Infante Martínez de la Cruz

    div.exit(ng-show='visibilityExit')
        ul
            li
                a(href='') CAMBIAR CONTRASEÑA
            li
                a(href='') CERRAR SESIÓN



