.card-user{
    background: white;
    display: inline-block;
    height: 147px;
    margin-bottom: 25px;
    margin-right: 15px;
    padding: 9px;
    width: 372px;



    &.disabled{
        background: $color-gray-1;
        color: $color-gray-2;



        .status{
            display: none;
        }
    }



    &:nth-child(3n+0){
        margin-right: 0;
    }



    .image{
        background-image: url("../../commons/images/image-profile.png");
        background-size: 105px;
        display: inline-block;
        height: 105px;
        margin-right: 3px;
        vertical-align: top;
        width: 105px;
    }



    .data{
        display: inline-block;
        margin-top: 4px;
        width: 255px;



        .name{
            font-size: 14px;
            margin-bottom: 2px;
        }



        .email{
            font-size: 13px;
        }



        .permissions{
            font-size: 12px;
            margin-top: 13px;



            .icon-user{
                margin-right: 11px;
                vertical-align: middle;
            }
        }



        .date-status{
            margin-top: 13px;
            overflow: hidden;



            .date{
                float: left;
                font-size: 13px;



                .icon-calendar{
                    margin-right: 11px;
                    vertical-align: sub;
                }
            }



            .status{
                color: $color-green-text;
                font-weight: 700;
                float: right;
                font-size: 10px;
                margin-top: 5px;
            }
        }



        .creation{
            font-size: 10px;
            margin-right: 13px;
            margin-top: 28px;
            text-align: right;
        }
    }
}
