/*
| -------------------------------------------------------
| colores base de aplicación
| -------------------------------------------------------
*/
$color-green                            : #00CC72;
$color-gray-border                      : #999999;
$color-gray-background                  : #E4E4E4;
$color-gray-text                        : #666666;
$color-gray-border-title                : #CCCCCC;
$color-gray-button                      : #C9C9C9;

$color-orange-button                    : #FF8C00;

$color-green-text                       : #00CC66;
