/*
| -------------------------------------------------------
| colores base de aplicación
| -------------------------------------------------------
*/
$color-green                            : #00CC72;
$color-green-dark                       : #00996B;
$color-gray-light                       : #CCCCCC;
$color-gray-dark                        : #858A85;
$color-gray-border                      : #999999;
$color-gray-background                  : #E4E4E4;
$color-gray-text                        : #666666;
$color-blue                             : #0000FF;
$color-gray-border                      : #999999;
$color-gray-background                  : #E4E4E4;
$color-gray-text                        : #666666;
$color-gray-border-title                : #CCCCCC;
