.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;



    &.icon-arrow-left {
        background-image: url("../../commons/images/arrowL.png");
        height: 25px;
        width: 24px;
    }



    &.icon-arrow-bottom {
        background-image: url("../../commons/images/arrowB.png");
        background-size: 24px;
        height: 24px;
        width: 24px;
    }



    &.icon-search {
        background-image: url("../../commons/images/search.png");
        height: 24px;
        width: 24px;
    }



    &.icon-user {
        background-image: url("../../commons/images/icon-user.png");
        background-size: 20px;
        height: 20px;
        width: 20px;
    }



    &.icon-calendar {
        background-image: url("../../commons/images/icon-calendar.png");
        background-size: 20px;
        height: 20px;
        width: 20px;
    }



    &.icon-edit {
        background-image: url("../../commons/images/icon-edit.png");
        height: 25px;
        width: 25px;
    }



    &.icon-desactive {
        background-image: url("../../commons/images/icon-desactive.png");
        background-size: 32px;
        height: 32px;
        width: 32px;
    }
}
